    /* Acá van tus reglas de estilo */
body{                       
    background-image:url( "../imagenes/fondo.jpg");
    background-size: cover; 
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        text-align: center;
}
.titulo{
        color: white;
        font: outline;
        text-align: left;
        font-size: large;
        font-family: cursive;
}
#acceso{
    text-align: center;
    color: white;     
    font-family: cursive;
    font-size: large;
}
#ingreso{
    text-align: center;
    color: white;
    font-family: cursive;
    font-size: large;
}
#cifrado{
    color: white;
    font-family: cursive;
    font-size: small;
}
}
#final{
    color: white;
    text-align: center;
    font-family: cursive;
    font-size: large;
    }
#pie{
    color: white;
    font-family: cursive;
    font-size: small;
}
.ocultar{
    display: none;
}
#opciones{
    color: white;
    font-family: cursive;
    font-size: large;
}