    /* Acá van tus reglas de estilo */
body{                       
    background-image:url( "../imagenes/fondo.jpg");
    background-size: cover; 
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        text-align: center;
}
.titulo{
        color: white;
        font: outline;
        text-align: left;
        font-size: small;
}
#acceso{
    text-align: center;
    color: white;     
}
#ingreso{
    text-align: center;
}
#final{
    text-align: center;
    }
.h3 .h4{
    color: white;
}
#pie{
    color: white;
}
.ocultar{
    display: none;
}
#opciones{
    color: white;
}